<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Image of Product present in the cart
        Price of total quantity of products
        Add/Reduce quantity
        Total Price
        Clear cart
        Checkout
        Buy particular quantity of product
    </div>
</body>
</html>